.vscode
main
test.cpp

GLFW/include/glfw3.h
GLFW/include/glfw3native.h
GLFW/lib/glfw3_mt.lib
GLFW/lib/glfw3.dll
GLFW/lib/glfw3.lib
GLFW/lib/glfw3dll.lib
GLFW/lib/libglfw3.a
GLFW/lib/libglfw3dll.a
main.exe
LevelFileSystem/test.txt
FileReader.exe
LevelEditor.exe
test.exe
main.pdb
main.ilk
freetype
dlg/dlg.h
dlg/output.h
main.lib
freetype.lib
ft2build.h
main.exp
test1
Shaders/TextShader.fs
Shaders/TextShader.vs
